/* common */
:root {
    --main-bg-color: hsl(60, 87%, 94%);
    --header-bg-color: hsl(60, 88%, 94%);
    --accent-color: hsl(40, 56%, 63%);
    --text-color: hsl(39, 50%, 42%);
    --input-text-color: hsl(0, 0%, 36%);
}
::selection {
	background-color: hsl(40, 88%, 84%);
}
.color1 {color: hsl(0, 54%, 60%);}
.color2 {color: hsl(36, 54%, 60%);}
.color3 {color: hsl(72, 54%, 60%);}
.color4 {color: hsl(108, 54%, 60%);}
.color5 {color: hsl(144, 54%, 60%);}
.color6 {color: hsl(180, 54%, 60%);}
.color7 {color: hsl(216, 54%, 60%);}
.color8 {color: hsl(252, 54%, 60%);}
.color9 {color: hsl(288, 54%, 60%);}
.color10 {color: hsl(324, 54%, 60%);}
.contents {
    width: 100%;
    min-height: 100vh;
    padding-left: 20%;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.container {
    width: 100%;
    padding: 0 3%;
}
.top-space {
    padding-top: 14vh;
}
.content-center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* main-bg */
.main-bg {
    height: 100vh;
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
}
.main-bg img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: 0% 100%
}
.main-bg-filter {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: var(--main-bg-color);
    z-index: -1;
    opacity: .7;
    top: 0;
    left: 0;
}
/* text-links */
.text-links {
    margin-top: 24px;
    text-align: center;
}
/* btn */
.back-btn {
    text-align: right;
}
.back-btn a {
    text-decoration: underline;
}
.back-btn a:hover {
    text-decoration: none;
}
.data-btn-area {
    display: flex;
}
.data-btn-area .btn{
    margin-left: 24px;
    font-size: 1.2rem;
}
.data-btn-area .trash-btn {
    cursor: pointer;
}
.data-btn-area .data-btn-form {
    position: relative;
}
.data-btn-area .data-btn-submit{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0) ;
    border: none;
}
.data-btn-area .data-btn-submit:hover {
    cursor: pointer;
}
.data-btn-area .data-btn-submit:focus {
    outline: none;
}

.back {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(50%, -50%); 
    text-align: center;
}
.back button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    font-size: 2rem;
    cursor: pointer;
}

/* form */
.form-area {
    width: 80%;
    max-width: 600px;
    margin: 48px auto;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.4);
}
.form-area h2 {
    padding: 16px 24px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid hsl(0, 0%, 80%);
}
.form-area h3 {
    padding-left: 4px;
    font-size: 1.1rem;
}
.form-area form{
    width: 100%;
    padding: 24px 20px 16px 20px;
}
.form-area .inner{
    width: 100%;
    padding: 24px 20px 16px 20px;
}
.form-area .form-summary{
    margin-bottom: 24px;
}
.form-area .form-summary p{
    text-align: center;
}
.form-area div {
    margin-bottom: 10px;
}
.form-area input {
    width: 100%;
    padding: 10px 10px;
    border-radius: 8px;
    font-size: 1.2em;
    border: 1px solid hsl(0, 0%, 70%);
}
.form-area .submit-area {
    display: flex;
    justify-content: space-between;
}
.form-area .submit {
    letter-spacing: 1em;
    text-align: center;
    border: none;
    color: #fff;
    background-color: var(--accent-color);
    cursor: pointer;
}
.form-area .submit.back {
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    background-color: #fff;
}
/* /* end form */
/* box */
.box-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box {
    padding: 4%;
    border-radius: 24px;   
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-link {
    box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.4);
    transition: box-shadow .2s, transform .2s;
}
.box-link:hover {
    box-shadow: none;
    transform: translate(0, 3px);
}
.box-icon-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-icon-area.box-2-items{
    height: 80%;
}
.box-icon-area.box-3-items{
    height: 70%;
}
.icon-area {
    display: flex;
    justify-content: center;
}
.box-icon {
    font-size: 4rem;
}
.icon-left {
    transform: translate( 20%, 0);
}
.icon-right {
    transform: translate( -20%, 0);
}
.icon-half{
    transform: scale(0.5, 1);
}
.box-name {
    width: 100%;
    text-align: center;
}
.box-name.box-2-items{
    font-size: 1.2rem;
    height: 20%;
}
.box-name.box-3-items{
    height: 10%;
    font-size: 1rem;
}
.box-name.box-2-items.short {
    display: none;
}
.box-amount {
    width: 100%;
    height: 20%;
    font-size: 1.2rem;
    text-align: center;
}
.row {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.row a {
    width: calc(100% / 2 - 8%);
    display: block;
}
.row a:hover {
    text-decoration: none;
}
/* end box */

/* by-category */
.by-category-main {
    width: 100%;
    padding: 0 10%;
}
.by-category-title{
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

    position: relative;
}
.by-category-title .icon-area {
    margin-right: 1%;
}
.total-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.total-box p {
    font-size: 2rem;
}
.by-category-inner{
    width: 100%;
    padding: 24px 10% 0;
}
.by-category-box{
    width: calc(100% / 2 - 24px);
    min-width: 200px;
    height: 240px;
    margin: 0 12px 24px;
}
.data-list {
    max-width: 640px;
    margin: 0 auto;
}
.data-list li{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info-area {
    display: flex;
}
.data-date {
    min-width: 85px;
    margin-right: 12px;
    line-height: 2rem;
}
.data-amount {
    min-width: 80px;
    font-size: 1.2rem;
}
.data-name {
    min-width: 80px;
    font-size: 1.2rem;
}
.date-add-area {
    padding: 24px 42px 0;
}
.date-add-area .date-box,
.date-add-area a {
    display: block;
    width: calc(100% / 2 - 36px);
}
.date-add-area .date-box {
    padding: 0;
    display: flex;
    box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.4);
}
.date-add-area .add-btn {
    flex-direction: row;
}
.date-add-area .add-btn .icon-area{
    margin-right: 1%;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* end by-category */

/* data-individual */
.data-individual li {
    height: 72px;
    padding: 0 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.data-individual label {
    font-size: 1.4rem;
    width: 24%;
}
.data-individual .date-edit{
    width: 76%;
    /* padding-right: 24px; */
    position: relative;
    text-align: right;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}
input[type="date"]::-webkit-clear-button{
  -webkit-appearance: none;
}
input[type="date"]::-webkit-calendar-picker-indicator{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    color: transparent;
    cursor: pointer;
  }
.data-individual .radio {
    width: 76%;
    display: flex;
    justify-content: end;
    color: var(--input-text-color);
}
.data-individual .radio input{
    width: 24px;
    padding: 0;
    vertical-align: baseline;
}
.data-individual input[type="text"], 
.data-individual input[type="number"],
.data-individual input[type="date"] {
    width: 76%;
    font-size: 1.4rem;
    padding: 0;
    margin-bottom: 10px;
    text-align: right;
    border: none;
    border-radius: 0;
    color: var(--input-text-color);
    background: transparent;
}
.data-individual select {
    width: 76%;
    font-size: 1.4rem;
    padding: 0;
    text-align: right;
    border: none;
    border-radius: 0;
    color: var(--input-text-color);
    background: transparent;
}
.data-individual input[type="number"] {
    border-bottom: 1px solid var(--accent-color);
}
.data-individual textarea {
    width: 100%;
    margin: 24px 0;
    padding: 2%;
    font-size: 1.1rem;
    border-radius: 10px;
    border: none;
    background-color: hsl(0, 0%, 95%);
    resize: none;
    color: var(--input-text-color);
}
.data-individual input[type="text"]:focus, 
.data-individual input[type="number"]:focus,
.data-individual input[type="date"]:focus,
.data-individual input[type="radio"] {
    border-bottom: 1px solid var(--accent-color);
    outline: none;
    accent-color: var(--accent-color);
    background-color: none;
}
.data-individual select:focus {
    outline: none;
    accent-color: var(--accent-color);
    background-color: none;
}
.data-individual textarea:focus {
    background-color: #fff;
    outline:  1px solid var(--accent-color);
}